<h1>Listing customers</h1>
<div class="btn-toolbar">
  <%= link_to 'Add customer', new_customer_path, class: 'btn btn-popup', title: 'Add new customer' %>
</div>
<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Date of birth</th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.date_of_birth %></td>
    <td class="btn-group">
      <%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-mini btn-popup', title: 'Edit customer' %>
      <%= link_to 'Destroy', customer, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>